<div id="footer">
    <div class="container">
        <a href="http://www.cidades.gov.br/" target="_blank"><H4>Ministério do Desenvolvimento Regional</h4></a>
        <a href="http://www.cidades.gov.br/index.php/habitacao" target="_blank"><p>Secretaria Nacional de Habitação</p>
        </a>
        <a href="http://pbqp-h.cidades.gov.br" target="_blank"><p>Programa Brasileiro da Qualidade e Produtividade do
                Habitat</p></a>
        <a href="http://www.cidades.gov.br/index.php/habitacao/departamentos/dict" target="_blank"><p>Desenvolvido e
                gerenciado pela Gerência de Informação Departamento de Desenvolvimento Institucional e Cooperação
                Técnica</p></a>
        <img src="{{ constant('API_BASE_URL') }}/public/assets/img/MCMV_C.png"
             style="position:relative; left:800px; top:-65px; z-index:1; padding-bottom:-50px; width: 120px;">
    </div>

</div>

<div id="footer-brasil"></div>