<div class="header" style="position: relative">
    <div class="container">
        <h3>Ministério do Desenvolvimento Regional</h3>
        <h2 id="title">SiNAT - Avaliação De Sistemas Convencionais e Inovadores </h2>
        <h3 style="margin-top: 2px">Desempenho Técnico para HIS</h3>
    </div>

</div>
<div id="barra-identidade">
    <div id="barra-brasil">
        <a href="http://brasil.gov.br"
           style="background:#7F7F7F; height: 20px; padding:4px 0 4px 80px; display: block; font-family:sans,sans-serif; text-decoration:none; color:white; ">Portal
            do Governo Brasileiro</a>
    </div>
</div>
