<div id="barra-identidade">
    <div id="barra-brasil">
        <a href="http://brasil.gov.br"
           style="background:#7F7F7F; height: 20px; padding:4px 0 4px 80px; display: block; font-family:sans,sans-serif; text-decoration:none; color:white; ">Portal
            do Governo Brasileiro</a>
    </div>
</div>

<div class="header header-background" style="position: relative">
    <div class="container">
        <h3><strong>Programa Brasileiro da Qualidade e Produtividade do Habitat</strong></h3>
        <h1 id="title"><span><strong>SiNAT</strong> - Sistema Nacional de Avaliações Técnicas de Produtos Inovadores e Sistemas Convencionais</span></h1>
        <h3 style="margin-top: 2px; margin-bottom: 20px;">Ministério do Desenvolvimento Regional</h3>
    </div>

</div>
