{% extends 'Layouts/template.twig' %}
 {% block content %}
     <div class="container">
         <div class="form-group">
             <div class="row">
                 <div class="nome">
                     <H3>Sistemas Convencionais</H3>
                 </div>
             </div>
         </div>
     </div>
     <div class="container">

         <p class="text-justify">De modo a orientar os diversos agentes responsáveis pela produção habitacional no
             âmbito do Governo Federal, nesse novo cenário de avaliação por desempenho, a SNH elaborou, em parceria com
             os diversos agentes que integram o setor da construção civil, os seguintes documentos:
         </p>
         <div class="well">
             <div class="form-group">
                 <div class="row">
                     <div class="col-md-1">
                         <a href="/documentos/arquivos/pdf/Desempenho_Documento_1" download><i
                                     class="fa fa-file-pdf-o fa-5x"></i></a>
                     </div>
                     <div class="col-md-11">
                         <p class="text-justify"><strong>Especificações de Desempenho nos Empreendimentos de HIS
                                 Baseadas na ABNT NBR 15575 - Edificações Habitacionais - Desempenho</strong> - são
                             estabelecidas orientações para especificações em função dos dados e informações conhecidos
                             sobre o desempenho dos sistemas construtivos;</p>
                         <em>Revisada em: 14/11/2018</em>
                     </div>
                 </div>
             </div>
         </div>
         <div class="well">
             <div class="form-group">
                 <div class="row">
                     <div class="col-md-1">
                         <a href="/documentos/arquivos/pdf/Desempenho_Documento_2" download><i
                                     class="fa fa-file-pdf-o fa-5x"></i></a>
                     </div>
                     <div class="col-md-11">
                         <p class="text-justify">
                             <strong>Orientações ao Proponente para Aplicação das Especificações de Desempenho em
                                 Empreendimentos de HIS</strong> - são apresentadas orientações para quem desenvolve
                             empreendimentos, seja o empreendedor, sejam os projetistas, seja a empresa construtora,
                             para o cumprimento das especificações do Programa;
                             <br/>
                             <a href="/documentos/arquivos/excel/Desempenho_Documento_2_Anexo_3" download><i
                                         class="fa fa-file-excel-o"> Planilha de cálculo do isolamento de acordo com o
                                     Anexo 3</i></a>
                         </p>
                     </div>
                 </div>
             </div>
         </div>
         <div class="well">
             <div class="form-group">
                 <div class="row">
                     <div class="col-md-1">
                         <a href="/documentos/arquivos/pdf/Desempenho_Documento_3" download><i
                                     class="fa fa-file-pdf-o fa-5x"></i></a>
                     </div>
                     <div class="col-md-11">
                         <p class="text-justify"><strong>Orientações ao Agente Financeiro para Recebimento e Análise dos
                                 Projetos</strong> - tem por objetivo apoiar o Agente Financeiro na Etapa de Proposta de
                             Solicitação de Financiamento, no processo de análise da conformidade ao documento
                             “Especificações de desempenho nos empreendimentos de HIS baseadas na ABNT NBR 15575 –
                             Edificações Habitacionais – Desempenho;</p>
                     </div>
                 </div>
             </div>
         </div>
         <div class="well">
             <div class="form-group">
                 <div class="row">
                     <div class="col-md-1">
                         <a href="/documentos/arquivos/pdf/Desempenho_Documento_4" download><i
                                     class="fa fa-file-pdf-o fa-5x"></i></a>
                     </div>
                     <div class="col-md-11">
                         <p class="text-justify"><strong>Catálogo de Desempenho de Subsistemas</strong> - apresenta e
                             orienta a utilização de fichas para escolha de sistemas, subsistemas e elementos
                             construtivos que atendam aos requisitos de desempenho estabelecidos na ABNT NBR 15575.</p>
                     </div>
                 </div>
             </div>
         </div>
     </div> <!-- FECHA CONTAINER -->

 {% endblock %}

{% block scripts %}
    {{ parent() }}

{% endblock %}
